* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}
/* <!-- section 1 --> */
.header-top{
  border: 30px solid  #00aeff;
}
.section1-container{
  background-image: url(./Assests/images/img1.jpg); 
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;top: -138.3px;
}
.skull{
  padding-left: 71rem;
  position: relative;bottom: 144px;
  display: flex;
  text-align: center;
}
.skull p{
  margin: 12px;
 font-size: 14px;
 color: white;
}
.top-text{
  position: relative;bottom: 52px;
  padding-left: 3.9%;
  font-size: 33px;
  color: #fff;
}

/* <!-- section 2 --> */
.section1-text{
  color: #fff;
  font-size: 17.7px;
  text-align: center;
  position: relative;top: 90px;
}
.form{
  background: rgba(255, 255, 255, 0.822);
  width: 70%;
  padding: 40px;
  font-size: 1.5rem;
  margin: 0 auto 0 auto;
 margin-top: -190px;
 box-shadow: 0px 0px 10px 0px;
 z-index: 5;
 position: sticky;
 top: -20px;
 margin-bottom: 102px;
 
}
.input1{
    background-color: white;
    border: 1px solid rgb(158, 156, 156);
    padding: 13px;
    border-radius: 4px;
    margin-left: 10px;
    width: 43%;
}
.input2{
  background-color: white;
  border: 1px solid rgb(158, 156, 156);
  padding: 13px;
  border-radius: 4px;
  margin-left: 5px;
  width: 33%;

}
.form button{
  color: #fff;
  background-color: #00aeff;
    padding: 12px;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 16px;
    width: 13%;
}
.button1 :hover{
 background: turquoise;
}
.section2-header{
  text-align: center;
  position: relative;
  bottom: 0px;
  
}
.section2-header h3{
  font-size: 24px;
    color: #4f4f4f;
    font-weight: 700;
    margin: 10px;
}
.section2-header p{
  font-size: 18px;
    font-weight: 500;
    color: #4f4f4f;
}
.center-line{
  border-top: 3px solid #00aeff;
    margin: 1.5rem auto;
    width: 4rem;
}
.state{
  display: flex;
  padding-left: 14%;
  text-align: center;
}
.state h3{
  color: #00aeff;
}
.states{
  border: 2px solid #00aeff;
  margin: 10px;
  padding: 25px;
  border-radius: 4px;
  padding-bottom: 50px;
}
.section3-header{
  text-align: center;
  position: relative;top: 53px;
}
.section3-header h3{
  font-size: 24px;
    color: #4f4f4f;
    font-weight: 700;
    margin: 10px;
}
.section3-header p{
  font-size: 18px;
    font-weight: 500;
    color: #4f4f4f;
}
.images{
  display: flex;
  padding-left: 10%;
  padding-top: 70px;
}
.images img{
  width: 300px;
  height: 180px;
  margin: 12px;
}
.imagi{
  display: flex;
  padding-left: 10%;
}
.imagi img{
  width: 300px;
  height: 180px;
  margin: 12px;
}
.images1{
  border: 1px solid #bdbdbd;
    border-radius: 0 0 4px 4px;
    height: 40%;
    position: relative;
    border-top: 0;
    margin: 10px;
}
.images1 h3{
  margin: 15px;

}
.images1 p{
  margin: 15px;
  font-size: 12px;
}
.images1 a{
  color: #00aeff;
  text-decoration: none;
}
.new-section{
  text-align: center;
  position: relative;top: 50px;
  
}
.new-section h3{
  font-size: 24px;
    color: #4f4f4f;
    font-weight: 700;
    margin: 10px;
}
.new-section p{
  font-size: 18px;
    font-weight: 500;
    color: #4f4f4f;
}
.new-section1{
  text-align: center;
  position: relative;top: 50px;
  
}
.new-section1 h3{
  font-size: 24px;
    color: #4f4f4f;
    font-weight: 700;
    margin: 10px;
}
.new-section1 p{
  font-size: 18px;
    font-weight: 500;
    color: #4f4f4f;
}
.borddwe{
  background: rgb(243, 239, 239);
  position: relative;top: 60px;
  text-align: center;
  padding: 40px;
}
.borddwe h3{
  margin-top: 10px;
  margin: 20px;
  font-size: 26px;
}
.borddwe p{
  margin: 10px;
}
.Subscribe1{
 border: 1px solid black;
 padding: 12px;
 width: 430px;
 margin: 10px;
 border-radius: 3px;
}
.Subscribe{
color: #fff;
background-color: #00aeff;
padding: 12px;
border-radius: 3px;
margin-left: 5px;
font-size: 16px;
width: 13%;
}
.BBC{
  text-align: center;
  position: relative;top: 100px;
  
}
.BBC h3{
  font-size: 24px;
    color: #4f4f4f;
    font-weight: 700;
    margin: 10px;
}
.candy{
  text-align: center;
  position: relative;top: 140px;
  
}
.candy h3{
  font-size: 24px;
    color: #4f4f4f;
    font-weight: 700;
    margin: 10px;
}
.candy p{
  font-size: 18px;
    font-weight: 500;
    color: #4f4f4f;
    margin: 20px;
}
.candy button{
  color: #fff;
  background-color: #00aeff;
  padding: 12px;
  border-radius: 3px;
  margin-left: 5px;
  font-size: 16px;
  width: 13%;
  margin: 10px;

  }
  .capital{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 60px;
 }
  .capital div{
    margin: 10px;
    font-size: 14px;
    text-align: left;
    padding: 30px;
    
  }
  .capital div h3{
    color: #00aeff;
    margin: 10px;
  }
  .capital div p{
    font-size: 14px;
    margin: 10px;
  }
  .plane{
    padding: 200px;
    display: flex;
  }
  .plane2{
    width: 100%;
    padding: 10% 5% 10% 10%;
    bottom: 0;
  }
  .plane2 h2{
    color: #2196F3;
    font-size: 70px;
    font-size: calc(30px + 30 * (100vw - 1000px)/ 400);
  }
  .plane2 h3{
    font-size: calc(20px + 10 * (100vw - 1000px)/ 400);
    font-weight: 800;
    color: #4f4f4f;
     margin-top: 0;
  }
  .plane2 p{
    margin: 1% 0 5%;
    color: #4f4f4f;
    font-weight: 500;
    text-align: left;
    font-size: 18px;
}
.hausa{
  position: relative;left: 80%;
  position: relative;bottom: 113px;
  color: #ffff;
  font-size: 20px;
}
.press-links{
  display: flex;
  padding: 20px;
  margin-left: 13%;
}
.press-links{
  list-style-type: none;
}
.last{
  margin: 43px;
}

.cann{
  border: 6px solid #084482;
  width: 190px;
  position: relative;left: 60%;
  position: relative;bottom: 85px;
  border-radius: 20px;
  text-align: center;

}
.cann img{
  position: absolute;
    top: -6px;
    left: -17px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
.cann p{
 font-size: 8px;
 background-color: #084482;
 color: #00aeff;
 text-align: top;
}
.cann h5{
  font-size: 16px;
 background-color: #084482;
 color: #ffffff;
}
  .boohy{
    background-color: #084482;
    height: 60px;
    position: relative;bottom: 190px;
    padding: 10px;
    min-height: 95px;
    margin: 0;
    color: #fff;
    display: flex;
  }
  .boohy-text{
  display: flex;
    padding: 0;
    text-align: center;
    margin-left: 17%;
    margin-top: 27px;
  }
  .boohy-text p{
     color: #00aeff;
     margin: 10px 70px 0 0;
  }
  .subscribeform{
    display: flex;
    padding-left: 40px;
    margin-top: 27px;
  }
  .subscribeform button{
    width: 40%;
   padding: 13px;
   border-radius: 0 5px 5px 0;
    color: #fff;
    background-color: #00aeff;
  }
  .subscribeform input{
    width: 390px;
    border-radius: 5px 0 0 5px;
  }
  .top-footer {
    padding: 30px 15px;
    display: flex;
    font-size: 14.3px;
    padding-left: 23%;
    position: relative;bottom: 80px;
  }
.top-footer a{
  color: #00aeff;
  text-decoration: none;
}
.container{
  width: 1050px;
}
.company{
  width: 20%;
    margin-left: 0;
}
.community{
  width: 20%;
    margin-right: 0;
}
.key-cities{
  width: 20%;
  margin-right: 0;
}
.key-attractions{
  width: 20%;
  margin-right: 0;
}
.key-hotels{
  width: 20%;
  margin-right: 0;
 
}
.headers{
  border-bottom: 1px solid slategray;
  margin-top: 15px;
  margin-bottom: 16px;
}
.ladt{
  border-bottom: 0.1px solid rgb(153, 153, 153);
  position: relative;bottom:  55px;left: 20%;
  width: 83%;
}
.footer{
display: inline-flex;
padding-left: 19%;
}
.footer p{
 padding: 20px;
 font-size: 14px;
 color: dimgrey;
}
.certify{
  padding: 20px;
 font-size: 16px;
 color: dimgrey;
 position: relative;left: 40%;
}
